* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 17px;
   line-height: 1.8;
   overflow: hidden;
}

a {
   text-decoration: none;
   color: white;
}

li {
   list-style: none;
}

.container {
   width: 75%;
   max-width: 1120px;
   margin: auto;
}

header {
   background-color: rgb(148, 148, 228);
   color: white;
   padding: 0.5rem 1rem;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header h3 {
   font-weight: 400;
   font-size: 1.5rem;
}

.nav-links {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.header ul li {
   margin: 0 1rem;
   font-size: 14px;
}

.header ul li a:hover {
   transition: all 0.5s ease;
   color: #555;
}

.burger {
   display: none;
}

.burger div {
   transition: all ease 0.5s;
   background-color: #fff;
   width: 28px;
   height: 3px;
   margin: 0 0 5px 0;
}

.content {
   margin-top: 2rem;
}

.btn {
   padding: 0.8rem 2rem;
   background-color: rgb(148, 148, 228);
   border: none;
   outline: none;
   cursor: pointer;
   color: white;
   width: 100%;
   margin-top: 1rem;
   transition: all 0.5s ease;
}

.btn:hover {
   opacity: 0.8;
}

@media screen and (max-width: 700px) {
   .nav-links {
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 3.2rem;
      right: -50%;
      background-color: rgb(148, 148, 228);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      overflow: hidden;
      opacity: 0.9;
      transition: all 0.5s ease;
   }

   .show-nav-links {
      right: 0;
   }
   .nav-links li {
      height: 15%;
      font-size: 17px;
   }

   .nav-links li a {
      font-size: 15px;
   }
   .burger {
      display: block;
      cursor: pointer;
   }

   .toggle .burger-line-1 {
      transform: rotate(45deg) translate(5px, 5px);
   }

   .toggle .burger-line-2 {
      opacity: 0;
   }

   .toggle .burger-line-3 {
      transform: rotate(-45deg) translate(5px, -7px);
   }
}
